<article>
  <header>
    <%= item.name[0].toUpperCase() + item.name.slice(1,item.name.length) %>
  </header>
  <main>
    <img class="<%=imgClass%>" src="<%=item.imgurl %>" alt="" />
    <p><%= item.description.slice(0, 150- 3) + '...';%></p>
  </main>

  <button class="outline">
    <a href="<%= `${category}/${item.id} `%>">Details</a>
  </button>
</article>
