<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <title><%= item.name[0].toUpperCase() + item.name.slice(1) %></title>
    <script defer src="/main.js"></script>
  </head>
  <body>
    <main class="container">
      <header>
        <nav>
          <ul>
            <li>
              <strong>
                <%= item.name[0].toUpperCase() + item.name.slice(1) %>
              </strong>
            </li>
          </ul>
          <ul>
            <li>
              <a href="/" style="text-decoration: none">Home Page</a>
            </li>
            <li>
              <span>Theme:</span>
              <label>
                <input type="checkbox" role="switch" id="themeSwitch" />
              </label>
            </li>
          </ul>
        </nav>
      </header>
      <div>
        <article class="grid">
          <img src="<%= item.imgurl %>" alt="<%= item.name %> image" />
          <div>
            <p><%= item.description %></p>
          </div>
        </article>
      </div>
      <footer>&copy; This is a Top exercise 2025</footer>
    </main>
  </body>
</html>
